<h1>Edit the task:</h1>

<%= form_for(@task) do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title, placeholder: "Title of the task..." %>

  <%= t.label :details %>
  <%= t.text_field :details, placeholder: "Details of the task..." %>

  <%= t.label :completed %>
  <%= t.check_box :completed %>

  <%= t.submit %>
<% end %>

<p>
  <%= link_to "Back to list", tasks_path %>
</p>

